body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f7fa;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #051788;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav ul li {
  display: inline;
}

nav a {
  color: #738bda;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: #e6e6e6;
  transform: translateY(-3px);
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: rgb(5, 23, 136);
  color: #fff;
  padding: 0;
  font-size: 16px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.ekstrastats-link {
  color: #738bda;
  text-decoration: none;
  font-weight: bold;
}

.ekstrastats-link:hover {
  color: #e6e6e6;
  transform: translateY(-3px);
  text-decoration: underline;
}